
{{#if loggedIn}}
<div class= "chat">
  <form action="/chat" method="POST">
    <label for="user_name">Username:</label>
    <input type="text" id="user_name" name="user_name">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message">
    <label for="media">Media:</label>
    <select id="media" name="media">
      <option value="none">None</option>
      <option value="image">Image</option>
      <option value="gif">GIF</option>
      <option value="video">Video</option>
    </select>
    <div id="media-input">
      <label for="media_file">File:</label>
      <input type="file" id="media_file" name="media_file">
    </div>
    <button type="submit">Send</button>
  </form>
  {{#each chats as |chat|}}
    <section class="chat">
      {{#if photo}}
        <img src="/images/{{chat.photo}}" alt="Photo">
      {{/if}}
      {{#if gif}}
        <img src="/images/{{chat.gif}}" alt="GIF">
      {{/if}}
      {{#if video}}
        <video src="/videos/{{chat.video}}" controls></video>
      {{/if}}
      <div class="chat-details">
        <h3>{{chat.user_name}}</h3>
        <p>{{chat.message}}</p>
      </div>
    </section>
  {{/each}}
   </div>
{{else}}
  <a href="/login">You must login first to view this page</a>
{{/if}}


{{#each Users as user}}
{{#if chat}}
<div class="container">
  {{!-- <img src="/w3images/bandmember.jpg" alt="Avatar"> --}}
  <p>Hello. How are you today?</p>
  <span> ##add time </span>
</div>
{{/each}}