<h2> Let's Chat! </h2>

{{!-- {{#if loggedIn}} --}}
<div class= "chat">
  {{#each chats as |chat|}}
  {{#if chat.fromUser}}
    <section class="userChat">
      {{#if photo}}
        <img src="{{chat.photo}}" alt="Photo">
      {{/if}}
      {{#if gif}}
        <img src="{{chat.gif}}" alt="GIF">
      {{/if}}
      {{#if video}}
        <video src="{{chat.video}}" controls></video>
      {{/if}}
      <div class="chat-details">
        <h3>{{chat.user_name}}</h3>
        <p>{{chat.message}}</p>
      </div>
    </section>
  {{else}}
   <section class="chat">
      {{#if photo}}
        <img src="{{chat.photo}}" alt="Photo">
      {{/if}}
      {{#if gif}}
        <img src="{{chat.gif}}" alt="GIF">
      {{/if}}
      {{#if video}}
        <video src="{{chat.video}}" controls></video>
      {{/if}}
      <div class="chat-details">
        <h3>{{chat.user_name}}</h3>
        <p>{{chat.message}}</p>
      </div>
    </section>
    {{/if}}
  {{/each}}
   </div>
   <div>
  <form action="/chat" method="POST">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message">
    <label for="media">Media:</label>
    <select id="media" name="media">
      <option class="none" value="none">None</option>
      <option class="image" value="image">Image</option>
      <option class="gif" value="gif">GIF</option>
      <option class ="video" value="video">Video</option>
    </select>
    <div id="media-input">
      <label for="media_file">File:</label>
      <input type="file" id="media_file" name="media_file">
    </div>
    <button type="submit">Send</button>
  </form>
  </div>
  <script type="text/javascript" src="./js/chat.js"></script>
  <button id="upload_widget" class="cloudinary-button">Upload files</button>
  <value id="link" value=""></value>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
let value = document.getElementById("link");
let link = "";
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'dtbznjxtz', 
  uploadPreset: 'bni2efmk'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info.url);
      link = result.info.url;
      console.log(link);
      return link;
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
    value.innerHTML = myWidget;
  }, false);

</script>
  {{!-- {{else}}

  <a href="/login">You must login first to view this page</a>
{{/if}} --}}

