<div class="container">
  <div class="message-box">
    <div class="dots">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <div id="chat-box"> The Chatbox</div>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    {{#if logged_in}}
    <div class="chat">
      {{#each chats as |chat|}}
      {{#if chat.fromUser}}
      <section class="userChat">
        <div class="chat-details">
          <h3>{{chat.user_name}}</h3>
          <p>{{chat.message}}</p>
        </div>
        {{#if photo}}
        <img class="chat-photo" src="{{chat.photo}}" alt="Photo">
        {{/if}}
        {{#if gif}}
        <img class="chat-photo" src="{{chat.gif}}" alt="GIF">
        {{/if}}
        {{#if video}}
        <video class="chat-photo" src="{{chat.video}}" controls></video>
        {{/if}}
      </section>
      {{else}}
      <section class="chat">
        <div class="chat-details">
          <h3>{{chat.user_name}}</h3>
          <p>{{chat.message}}</p>
        </div>
        {{#if photo}}
        <img class="chat-photo" src="{{chat.photo}}" alt="Photo">
        {{/if}}
        {{#if gif}}
        <img class="chat-photo" src="{{chat.gif}}" alt="GIF">
        {{/if}}
        {{#if video}}
        <video class="chat-photo" src="{{chat.video}}" controls></video>
        {{/if}}
      </section>
      {{/if}}
      {{/each}}
    </div>


    <form action="/chat" method="POST">

      <div id="flex-end">
        <label for="message">Message:</label>
        <input type="text" id="message" name="message">
        <button type="submit">Send</button>
        <button id="upload_widget" class="cloudinary-button">Upload files</button>
    </form>
  </div>
</div>

</div>
<div>.</div>



<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
{{else}}

<a href="/login">You must login first to view this page</a>
{{/if}}

<script type="text/javascript">

  let link = "";
  const form = document.querySelector('form');
  const userNameInput = document.querySelector('#user_name');
  const messageInput = document.querySelector('#message');
  const mediaSelect = document.querySelector('#media');
  const mediaInput = document.querySelector('#media-input');
  const mediaFileInput = document.querySelector('#media_file');
  const chats = document.querySelectorAll('.chat-details');
  const submit = document.querySelectorAll('button');
  const none = document.querySelector('#none');
  const image = document.querySelector('#image');
  const gif = document.querySelector('#gif');
  const video = document.querySelector('#video');

  var myWidget = cloudinary.createUploadWidget({
    cloudName: 'dtbznjxtz',
    uploadPreset: 'bni2efmk'
  }, (error, result) => {
    if (!error && result && result.event === "success") {
      console.log('Done! Here is the image info: ', result.info.url);
      link = result.info.url;
      console.log(link);
      return link;
    }
  }
  );

  document.getElementById("upload_widget").addEventListener("click", function () {
    myWidget.open();
  }, false);



  // Add event listener to submit a new chat
  form.addEventListener('submit', async (event) => {
    event.preventDefault();


    const newChat =
    {
      message: messageInput.value,
      photo: link,
      gif: null,
      video: null
    };
    console.log(newChat);

    const response = await fetch('api/chat', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json', },
      body: JSON.stringify(newChat),
    })


    if (response.ok) {
      document.location.replace('/chat');
    } else {
      alert('Failed to create a new chat.');
    }
  });


</script>