{{#each memes as |meme|}}
<div class="meme">
  <h3>{{meme.title}}</h3>
  <p>{{meme.description}}</p>
{{#if meme.photo}}
        <img src="/images/{{meme.photo}}" alt="Photo">
      {{/if}}
 {{#if meme.gif}}
        <img src="/images/{{meme.gif}}" alt="GIF">
      {{/if}}
{{#if meme.video}}
        <video src="/videos/{{meme.video}}" alt="video"></video>
      {{/if}}   
  <a href="{{meme.link}}">{{meme.link}}</a>
</div>
{{/each}}


<script src="./js/memes.js"></script>




