<h2> Memes</h2>
{{!-- Added if statement so that you must be logged in to view Memes --}}
{{!-- {{#if loggedIn}} --}}

{{#each memes as |meme|}}
<div class="meme">
  <h3>{{meme.title}}</h3>
  <p>{{meme.description}}</p>
{{#if meme.photo}}
        <img src="{{meme.photo}}" alt="Photo">
      {{/if}}
 {{#if meme.gif}}
        <img src="{{meme.gif}}" alt="GIF">
      {{/if}} 

</div>
{{/each}}


<form action="/memes" method="POST">
    <label for="meme_title">Title:</label>
    <input type="text" id="meme_title" name="meme_title">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <button type="submit"> Post Meme </button>
  </form>

  <button id="upload_widget" class="cloudinary-button">Upload files</button>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
{{!-- {{else}}

  <a href="/login">You must login first to view this page</a>
{{/if}} --}}

{{!-- 
<script src="./js/memes.js"></script> --}}


<script type="text/javascript">
      // Define variables
  let link = "";
  const form = document.querySelector('form');
  const memeTitle = document.querySelector('#meme_title');
  console.log(memeTitle);
  const memeDescription = document.querySelector('#description');
  console.log(memeDescription);
  const memeLink = document.querySelector('#link');
  const memePhoto = document.querySelector('#photo');
  const memeGif = document.querySelectorAll('#gif');
  const memeVideo = document.querySelector('#video');
  const submit = document.querySelectorAll('button');

  var myWidget = cloudinary.createUploadWidget({
  cloudName: 'dtbznjxtz', 
  uploadPreset: 'bni2efmk'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info.url);
      link = result.info.url;
      console.log(link);
      return link;
      }
    }
  );

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);


  // Add event listener to submit a new meme
  form.addEventListener('submit', async (event) => {
      event.preventDefault();
      const newMeme = {
          title: memeTitle.value,
          description: memeDescription.value,
          photo: link,
          gif: null,
          video: null,
          link: link,
          user_id: 1,
      };
      console.log(newMeme);
      const response = await fetch('api/memes', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json', },
          body: JSON.stringify(newMeme),
      })
      console.log(response);
  
      if (response.ok) {
          document.location.replace('/memes');
      } else {
          alert('Failed to create a new meme.');
      }
  });
</script>

