<h2>Networking Events</h2>

{{!-- {{#if loggedIn}} --}}
  {{#each networking as |networking|}}
    <li>
      <p><strong>{{networking.event_name}}</strong></p>
      <p>{{networking.location}}</p>
      <p>{{networking.date}}</p>
      {{#if networking.link}}
      <a href="{{networking.link}}">Event Link</a>
      {{/if}}
      {{#if networking.photo}}
        <img src="{{networking.photo}}" alt="{{networking.event_name}} Photo">
      {{/if}}
    </li>
  {{/each}}

<form action="/networking" method="POST">
    <label for="event_name">Event Name:</label>
    <input type="text" id="event_name" name="event_name">
    <label for="location">Location:</label>
    <input type="text" id="location" name="location">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
    <label for="link">Link:</label>
    <input type="text" id="link" name="link">
    <button type="submit"> Post A Networking Event </button>
  </form>

{{!-- {{else}}
  <a href="/login">You must login first to view this page</a>
{{/if}} --}}


<script src="./js/networking.js"></script> 


