<h2>Networking Events</h2>

{{#if loggedIn}}
  {{#each events as |event|}}
    <li>
      <p><strong>{{event.event_name}}</strong></p>
      <p>{{event.location}}</p>
      <p>{{event.date}}</p>
      <a href="{{event.link}}">Event Link</a>
      {{#if event.photo}}
        <img src="{{event.photo}}" alt="{{event.event_name}} Photo">
      {{/if}}
    </li>
  {{/each}}
{{else}}
  <a href="/login">You must login first to view this page</a>
{{/if}}


<form action="/study" method="POST">
    <label for="tip">Study Tip:</label>
    <input type="text" id="study_tip" name="study_tip">
    <label for="media">Media:</label>
    <option id="media" name="media">
      <option class= "none" value="none">None</option>
      <option class= "image" value="image">Image</option>
      <option class= "gif" value="gif">GIF</option>
      <option class= "video" value="video">Video</option>
      <option class= "link" value="link">Link</option>
    </select>
    <div id="media-input">
      <label for="media_file">File:</label>
      <input type="file" id="media_file" name="media_file">
    </div>
    <button type="submit"> Post Study Tip </button>
  </form>




<script src="./js/networking.js"></script> 


