<h2>Networking Events</h2>

{{#if loggedIn}}
  {{#each events as |event|}}
    <li>
      <p><strong>{{event.event_name}}</strong></p>
      <p>{{event.location}}</p>
      <p>{{event.date}}</p>
      <a href="{{event.link}}">Event Link</a>
      {{#if event.photo}}
        <img src="{{event.photo}}" alt="{{event.event_name}} Photo">
      {{/if}}
    </li>
  {{/each}}
{{else}}
  <a href="/login">You must login first to view this page</a>
{{/if}}





<script src="./js/networking.js"></script> 


