{{!-- {{#if loggedIn}} --}}

<h2> Study Tips/ Resources</h2>

{{#each study as |studyTip|}}
<div>
  <h3>{{studyTip.tip}}</h3>
<a href="{{studyTip.link}}">{{studyTip.link}}</a>

  {{#if studyTip.photo}}
    <img src="{{studyTip.photo}}" alt="Photo">
  {{/if}}
  {{#if studyTip.gif}}
    <img src="{{studyTip.gif}}" alt="GIF">
  {{/if}}
  {{#if studyTip.video}}
    <video src="{{studyTip.video}}" alt="Video"></video>
  {{/if}}
</div>
{{/each}}



<form action="/study" method="POST">
    <label for="tip">Study Tip:</label>
    <input type="text" id="study_tip" name="study_tip">
    <label for="media">Media:</label>
    <select id="media" name="media">
      <option class= "none" value="none">None</option>
      <option class= "image" value="image">Image</option>
      <option class= "gif" value="gif">GIF</option>
      <option class= "video" value="video">Video</option>
      <option class= "link" value="link">Link</option>
    </select>
    <div id="media-input">
      <label for="media_file">File:</label>
      <input type="file" id="media_file" name="media_file">
    </div>
    <button type="submit"> Post Study Tip </button>
  </form>


{{!-- {{else}}

  <a href="/login">You must login first to view this page</a>
{{/if}} --}}


<script src="./js/study.js"></script>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<script type="text/javascript">
let link = "";
const form = document.querySelector('form');
const tipTitle = document.querySelector('#tip');
const linkInput = document.querySelector('#link');
const photoInput = document.querySelector('#photo');
const gifInput = document.querySelectorAll('#gif');
const videoInput = document.querySelector('#video');

var myWidget = cloudinary.createUploadWidget({
  cloudName: 'dtbznjxtz', 
  uploadPreset: 'bni2efmk'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info.url);
      link = result.info.url;
      console.log(link);
      return link;
    }
  }
);

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);

// Add event listener to submit a new study tip
form.addEventListener('submit', async (event) => {
    event.preventDefault();
    const studyTip =
    {
        title: tipTitle.value,
        link: linkInput.value,
        photo: photoInput.value,
        gif: gifInput.value,
        video: videoInput.value
        };

        const response = await fetch('/api/study', {
            method: 'POST',
            body: JSON.stringify(studyTip),
            headers: { 'Content-Type': 'application/json' },
        })
    if (response.ok) {
        document.location.replace('/study');
    } else {
        alert('Failed to create a new study tip.');
    }
});

</script>


