{{#each studytips as |studytip|}}
<div>
  <h2>{{studytip.tip}}</h2>
<a href="{{studytip.link}}">{{studytip.link}}</a>

  {{#if photo}}
    <img src="{{studytip.photo}}" alt="Photo">
  {{/if}}
  {{#if gif}}
    <img src="{{studytip.gif}}" alt="GIF">
  {{/if}}
  {{#if video}}
    <video src="{{studytip.video}}" alt="Video"></video>
  {{/if}}
</div>